body {
    margin: 0;
    /*
    background: rgb(2, 0, 36);
    background: linear-gradient(141deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: rgb(255, 80, 80);
    background: linear-gradient(315deg, rgba(255, 80, 80, 1) 10%, rgba(255, 227, 72, 1) 100%);
    */
    background: #ffffff;
    font-family: "Work Sans", sans-serif;
}

header, nav {
    background: white;
    padding: 15px;
}

nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: center;
    padding: 8px;
}



header {
    padding: 75px;
    height: 100px;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

h1.logo {
    margin: 0;
    font-size: 24px;
    background: -webkit-linear-gradient(141deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text; /*This is because browsers such as chrome and opera don't fully support 'background-clip'. But firefox does completly ! yay*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

nav h1.logo {
    font-size: 48px;
}

main {
    margin: 0;
    padding: 8px 0;
    background: #f5f6f7;
}

main section {
    margin: 32px 0;
    padding: 0 8px;
    display: block;
}

button, input[type="submit"] {
    background: linear-gradient(60deg, #0072ff 0%, #00d4ff 100%);
    border-radius: 4px;
    border: none;
    padding: 8px;
    color: white;
    transition-duration: 0.2s;
    box-shadow: 0 0 #0072ff50;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px #0072ff50;
}

button:active, input[type="submit"]:active {
    transform: none;
    box-shadow: 0 0 #0072ff50;
}

input[type="text"], input[type="datetime-local"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type="checkbox"], input[type="radio"] {
    accent-color: #0072ff;
}

hr {
    margin: 0;
    border-width: 0;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
}

.hidden-link,
.hidden-link:link,
.hidden-link:visited,
.hidden-link:focus,
.hidden-link:hover,
.hidden-link:active {
    text-decoration: none;
    color: #222;
}

footer {
    border-top: 1px solid lightgray;
    background-color: white;
}

footer > div {
    padding-top: 50px;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
}

.overdue {
    color: #fb4934;
    font-style: italic;
    font-weight: 600;
}

.missed {
    color: #fe8019;
    font-style: italic;
    font-weight: 600;
}