header section {
    margin: 0 auto 0;
    width: 100%;
    max-width: 74rem;
    font-weight: 700;
    font-size: 48px;
    background: linear-gradient(to left, rgba(0,84,255,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-todo {
    color: #fb4934;
    font-weight: 500;
}

.status-done {
    color: #29c41c;
    font-weight: 500;
}

.box .button-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: center;
}